<section class="col-md-12 footer-link pl-0 pr-0 pt-5">
    <div class="container">
      <div class="col-md-12 text-center"><h3 class="mb-3">Related Links</h3></div>

      <div class="row">
      <div class="col-md-4">
          <a href="#">
          Nigerian Bar Association </a>
          <a href="#">Nigerian Law Library</a>
          <a href="#">Frequently Asked Questions</a>

      </div>
          <div class="col-md-4">
          <a href="#">
          Lagos State Government 
</a>
          <a href="#">Contact Us</a>
          <a href="#">Lagos Automated Probate Registry System 
(LAPRS)</a>

      </div>
          <div class="col-md-4">
          <a href="#">LSJ Email Login</a>
          <a href="#">Gallery</a>
          <a href="#">Lagos State Remote Court (Igbosere)</a>
              <a href="#">Lagos State Remote Court 2 (Ikeja)</a>
      </div>
      </div>
<div class="row pt-5"><div class="col-lg-8">
<p> Copyright 2020 Office of The Chief Judge, Lagos State Judiciary, All rights reserved.</p>
<p>First Hightower Infotech</p>
</div>
<div class="col-lg-4 text-right padding">
    <a href="#" class="nobullet"><i class="bi bi-facebook" ></i></a>
     <a href="#" class="nobullet"><i class="bi bi-twitter"></i></a> 
     <a href="#" class="nobullet"><i class="bi bi-instagram"></i></a>
      <a href="#" class="nobullet"><i class="bi bi-youtube" ></i></a>
 </div>
      </div>
</div>
</section>