<section class="containter">
  <div style="display: flex">
    <div class="col-sm-7 col-md-6 col-lg-6 newcj1"></div>
    <div class="col-lg-5 form-box">
      <h5 class="form-title">Edit Profile</h5>
      <form
        #myForm="ngForm"
        (ngSubmit)="myForm.form.valid && updateProfile(myForm.value)"
        class="form-signin"
        novalidate
      >
        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label>Title</label>
              <select
                id="ddltitle"
                class="form-control"
                [(ngModel)]="title"
                name="title"
              >
                <option selected value="Mr">Mr</option>
                <option value="Mrs">Mrs</option>
                <option value="Miss">Miss</option>
                <option value="Dr">Dr</option>
                <option value="Dr(Mrs)">Dr(Mrs)</option>
                <option value="Chief">Chief</option>
                <option value="Chief(Mrs)">Chief(Mrs)</option>
                <option value="Engr">Engr</option>
                <option value="Engr(Mrs)">Engr(Mrs)</option>
                <option value="Alhaji">Alhaji</option>
                <option value="Alhaja">Alhaja</option>
                <option value="Rev">Rev</option>
                <option value="Pastor">Pastor</option>
                <option value="Admiral">Admiral</option>
                <option value="General">General</option>
                <option value="Air Comm.">Air Comm.</option>
                <option value="Captain">Captain</option>
                <option value="Lt. Col">Lt. Col</option>
                <option value="Rev(Mrs)">Rev(Mrs)</option>
                <option value="Bishop">Bishop</option>
                <option value="Arch Bishop">Arch Bishop</option>
                <option value="Primate">Primate</option>
                <option value="Architect">Architect</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="form-group">
              <label>First Name</label>
              <input
                type="text"
                required
                class="form-control"
                #ref1="ngModel"
                [(ngModel)]="firstName"
                name="firstName"
                placeholder="Firstname"
              />
              <label
                *ngIf="
                  (ref1.dirty || myForm.submitted) && ref1.errors?.required
                "
                class="text-danger"
                >*Field is mandatory</label
              >
            </div>
          </div>

          <div class="col-lg-4">
            <div class="form-group">
              <label>Middle Name</label>
              <input
                type="text"
                required
                #ref2="ngModel"
                class="form-control"
                [(ngModel)]="middleName"
                name="middleName"
                placeholder="Middlename"
              />
              <label
                *ngIf="
                  (ref2.dirty || myForm.submitted) && ref2.errors?.required
                "
                class="text-danger"
                >*Field is mandatory</label
              >
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>Last Name</label>
              <input
                type="text"
                required
                #ref3="ngModel"
                class="form-control"
                [(ngModel)]="lastName"
                name="lastName"
                placeholder="Lastname"
              />
              <label
                *ngIf="
                  (ref3.dirty || myForm.submitted) && ref3.errors?.required
                "
                class="text-danger"
                >*Field is mandatory</label
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Phone / Mobile</label>
              <input
                type="text"
                class="form-control"
                required
                #ref4="ngModel"
                minlength="10"
                maxlength="12"
                [(ngModel)]="phone"
                name="phone"
                placeholder="Mobile"
                (keypress)="onlyNumbers($event)"
              />
              <label
                *ngIf="
                  (ref4.dirty || myForm.submitted) && ref4.errors?.required
                "
                class="text-danger"
                >Field is mandatory</label
              >
              <label
                *ngIf="ref4.dirty && ref4.errors?.minlength"
                class="text-danger"
              >
                Minimum 10 numbers are allowed
              </label>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <label>Email</label>
              <input
                type="text"
                class="form-control"
                #ref5="ngModel"
                required
                pattern="[A-Za-z0-9].*[@].*[.].*"
                [(ngModel)]="email"
                name="email"
                placeholder="Email"
              />
              <label
                *ngIf="
                  (ref5.touched || myForm.submitted) && ref5.errors?.required
                "
                class="text-danger"
                >*Field is mandatory</label
              >
              <label
                *ngIf="(ref5.dirty || ref5.touched) && ref5.errors?.pattern"
                class="text-danger"
                >Characters followed by @ and .com</label
              >
            </div>
          </div>
        </div>

        <section class="containter">
          <h5 class="form-title">Update Details</h5>
          <div class="col-md-12 form-bg2">
            <div class="row">
              <div class="col-6 form-group">
                <label>Security Question</label>
                <select
                  id="ddltitle"
                  required
                  #ref6="ngModel"
                  class="form-control"
                  [(ngModel)]="Securityquestion"
                  name="Securityquestion"
                >
                <option value="1">What Is your NickName?</option>
                <option value="2">What Is your first Mobile No?</option>
                <option  value="3">
                                    In What city were you born?
                                  </option>
                 <option value="4">
                    What is the name of your first school?
                  </option>
                   <option value="5">
                    What is your mother's maiden name?
                  </option>
                   <option value="6">
                    What was the make of your first car?
                  </option>
                    <option value="7">
                    Which is your favorite web browser?
                  </option>
                  <option value="8">What is your favorite color?</option>
                </select>
                <label
                *ngIf="
                  (ref6.dirty || myForm.submitted) && ref6.errors?.required"
                class="text-danger"
                >*Field is mandatory</label
              >
              </div>
              <div class="col-6 form-group">
                <label> Security Answer</label>
                <input
                  type="text"
                  required
                  #ref7="ngModel"
                  class="form-control"
                  name="Securityanswer"
                  [(ngModel)]="Securityanswer"
                />
                <label
                  *ngIf="
                    (ref7.dirty || myForm.submitted) && ref7.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label>Address 1</label>
                <textarea
                  class="form-control"
                  type="textarea"
                  #ref8="ngModel"
                  required
                  name="address1"
                  [(ngModel)]="address1"
                  autosize
                >
            </textarea
                >
                <label
                  *ngIf="
                    (ref8.dirty || myForm.submitted) && ref8.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
              <div class="col-6 form-group">
                <label>Address 2</label>
                <textarea
                  class="form-control"
                  type="textarea"
                  name="address2"
                  [(ngModel)]="address2"
                  autosize
                >
                </textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label>Date Of Birth</label>
                <input
                  type="date"
                  #ref9="ngModel"
                  required
                  class="form-control"
                  [(ngModel)]="date_Of_Birth"
                  name="date_Of_Birth"
                />
                <label
                  *ngIf="
                    (ref9.dirty || myForm.submitted) && ref9.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
              <div class="col-6 form-group">
                <label>State</label>
                <select
                  id="ddltitle"
                  #ref10="ngModel"
                  required
                  class="form-control"
                  [(ngModel)]="State"
                  name="State"
                >
                  <option  value="1">Abia</option>
                  <option value="2">Adamawa</option>
                  <option value="3">Akwa Ibom</option>
                </select>
                <label
                  *ngIf="
                    (ref10.dirty || myForm.submitted) && ref10.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label>LGA</label>
                <select
                  id="ddltitle"
                  #ref11="ngModel"
                  required
                  class="form-control"
                  [(ngModel)]="LGA"
                  name="LGA"
                >
                  <option selected value="1">Abia</option>
                  <option value="2">Adamawa</option>
                  <option value="3">Akwa Ibom</option>
                </select>
                <label
                  *ngIf="
                    (ref11.dirty || myForm.submitted) && ref11.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
              <div class="col-6 form-group">
                <label>City</label>
                <select
                  id="ddltitle"
                  #ref12="ngModel"
                  required
                  class="form-control"
                  [(ngModel)]="City"
                  name="City"
                >
                  <option selected value="1">Abia</option>
                  <option value="2">Adamawa</option>
                  <option value="3">Akwa Ibom</option>
                </select>
                <label
                  *ngIf="
                    (ref12.dirty || myForm.submitted) && ref12.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label>Marital Status </label>
                <select
                  id="ddltitle"
                  #ref13="ngModel"
                  required
                  class="form-control"
                  [(ngModel)]="MaritalStatus"
                  name="MaritalStatus"
                >
                  <option value="M">Married</option>
                  <option value="S">Single</option>
                  <option value="W">Widow/Widower</option>
                  <option value="D">Divorced</option>
                </select>
                <label
                  *ngIf="
                    (ref13.dirty || myForm.submitted) && ref13.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
              <div class="col-6 form-group">
                <label> Bank Verification Number(BVN)</label>
                <input
                  type="text"
                  name="BVN"
                  [(ngModel)]="BVN"
                  class="form-control"
                />
              </div>
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label>Gender</label>
                <select
                  id="ddltitle"
                  required
                  #ref15="ngModel"
                  class="form-control"
                  [(ngModel)]="gender"
                  name="gender"
                >
                  <option value="M">Male</option>
                  <option value="F">Female</option>
                </select>
                <label
                  *ngIf="
                    (ref15.dirty || myForm.submitted) && ref15.errors?.required
                  "
                  class="text-danger"
                  >*Field is mandatory</label
                >
              </div>
              <div class="col-6 form-group">
                <label>Payer ID</label>
                <input
                  type="text"
                  name="PayerID"
                  [(ngModel)]="PayerID"
                  class="form-control"
                  placeholder="N-444875"
                />
                If you don't have a Payer ID,
                <a href="#">Click Here</a> to Generate
              </div>
            </div>
          </div>
          <button class="btn btn-secondary" type="submit">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Update
          </button>
          &nbsp;
          <button
            class="btn btn-primary"
            [routerLink]="['/profile']"
            type="button"
          >
            Cancel
          </button>
        </section>
      </form>
    </div>
  </div>
</section>
