<div class="row m-0">
  <div class="col-md-3 col-xs-6 col-sm-5 fix-left-area  p-0 shadow">
    <div class="row m-0">
      <div class="col-md-3 col-xs-12 col-sm-12 p-0">
        <img src="assets/brand/lagos_state_Judiciary.png" class="img-fluid" />
      </div>
      <div class="col-md-9 col-xs-12 col-sm-12">
        <div class="pt-2 pb-1 text-uppercase float-right">
          <div class="dropdown">
            <button
              class="btn text-black  text-left dropdown-toggle"
              type="button"
              id="dropdownMenu2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="text-uppercase">{{ User_Name }}</span>
            </button>
            <small
              ><span class="rollname text-uppercase text-left"
                >Legal counsel</span
              ></small
            >
            <ul class="dropdown-menu fade" aria-labelledby="dropdownMenu2">
              <li class="p-0 ep">
                <a [routerLink]="['/edit-profile']" class="text-capitalize">Edit Profile</a>
              </li>
              <li class="p-0 ep">
                <a href="#" class="text-capitalize">User Signature</a>
              </li>
              <li class="p-0 ep">
                <a href="#" class="text-capitalize">Reset Password</a>
              </li>
              <li class="p-0 ep">
                <a href="" class="text-capitalize">My Schedules</a>
              </li>
              <li class="p-0 ep">
                <a (click)="logout()"  href="javascript: void(0);" style="border-bottom:0px" class="text-capitalize">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#mycases"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          My Cases
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse fade" id="mycases">
        <div class="card card-body text-black text-uppercase">
          <a href="#">ddss</a>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#collapseExample"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Suit filing
          <span class="float-right"><i class="bi bi-chevron-right"></i></span>
        </a>
      </p>
      <div class="collapse fade" id="collapseExample">
        <div class="card card-body text-black">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
          labore wes anderson cred nesciunt sapiente ea proident.
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#filling"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Filing
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse" id="filling">
        <div class="card card-body text-black">
          <a href="#">tess</a>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          href=""
          role="button"
          aria-expanded="false"
        >
          Assign Legal Counsel
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          href="#"
          role="button"
          aria-expanded="false"
        >
          Case Association Request
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#payments"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Payments
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse fade" id="payments">
        <div class="card card-body text-black">
          <a href="#">Filing a Motion / Application</a>
          <a href="#">Filing Appeal</a>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#forms"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Forms
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse fade" id="forms">
        <div class="card card-body text-black">
          <a href="#">Filing a Motion / Application</a>
          <a href="#">Filing Appeal</a>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#lawfirms"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          Law Firms
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse fade" id="lawfirms">
        <div class="card card-body text-black">
          <a href="#">Filing a Motion / Application</a>
          <a href="#">Filing Appeal</a>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase shadow"
          data-toggle="collapse"
          href="#ADR"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          ADR Cases
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse fade" id="ADR">
        <div class="card card-body text-black">
          <a href="#">Filing a Motion / Application</a>
          <a href="#">Filing Appeal</a>
        </div>
      </div>
    </div>
    <div>
      <p class="mb-0">
        <a
          class="btn lt-nav text-black text-uppercase"
          data-toggle="collapse"
          href="#CTC"
          role="button"
          aria-expanded="false"
          aria-controls="collapseExample"
        >
          CTC / Other Judiciary Services
          <span
            class="glyphicon glyphicon-align-left"
            aria-hidden="true"
          ></span>
        </a>
      </p>
      <div class="collapse" id="CTC">
        <div class="card card-body text-black">
          <a href="#">Filing a Motion / Application</a>
          <a href="#">Filing Appeal</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-9 col-xs-6 col-sm-7 edit-form-bg fix-right-area">
    <div class="col-lg-12 card mt-2 mb-2 p-2 shadow">
      <h4 class="mb-0">Edit Profile</h4>
      <hr />
      <div>
        In publishing and graphic design, Lorem ipsum is a placeholder text
        commonly used to demonstrate the visual form of a document or a typeface
        without relying on meaningful content. Lorem ipsum may be used as a
        placeholder before final copy is available.
      </div>
    </div>
    <div class="row m-0  pt-2 pb-2 mt-3">
      <div class="col-md-10 offset-md-1">
        <ul class="nav nav-tabs cus-width" id="myTab" role="tablist">
          <li class="nav-item nav-item-tabs d-flex" role="presentation">
            <span class="circle-count">1</span>
            <button
              class="nav-link active"
              id="home-tab"
              data-bs-toggle="tab"
              data-bs-target="#home"
              type="button"
              role="tab"
              aria-controls="home"
              aria-selected="true"
            >
              Basic Information
            </button>
          </li>
          <li class="nav-item nav-item-tabs d-flex" role="presentation">
            <span class="circle-count2">2</span>
            <button
              class="nav-link tab2-minus"
              id="profile-tab"
              data-bs-toggle="tab"
              data-bs-target="#profile"
              type="button"
              role="tab"
              aria-controls="profile"
              aria-selected="false"
            >
              Address Information
            </button>
          </li>
          <li class="nav-item nav-item-tabs d-flex" role="presentation">
            <span class="circle-count2">3</span>
            <button
              class="nav-link tab2-minus right-radius"
              id="contact-tab"
              data-bs-toggle="tab"
              data-bs-target="#contact"
              type="button"
              role="tab"
              aria-controls="contact"
              aria-selected="false"
            >
              Personal Information
            </button>
          </li>
        </ul>
      </div>
      <div class="col-lg-12 pt-2 pb-3">
        <div class="tab-content pt-4" id="myTabContent">
          <!-- First Tab -->

          <div
            class="tab-pane fade show active"
            id="home"
            role="tabpanel"
            aria-labelledby="home-tab"
          >
            <!-- <form class="mh-300"> -->
            <form
              #myForm="ngForm"
              (ngSubmit)="myForm.form.valid && updateProfile(myForm.value)"
              class="form-signin"
              novalidate
            >
              <div class="row">
                <div class="col-lg-4">
                  <div>
                    <label>Title</label><span class="text-danger pl-2">*</span>
                    <select
                      id="ddltitle"
                      class="form-control"
                      [(ngModel)]="title"
                      name="title"
                    >
                      <option selected value="Mr">Mr</option>
                      <option value="Mrs">Mrs</option>
                      <option value="Miss">Miss</option>
                      <option value="Dr">Dr</option>
                      <option value="Dr(Mrs)">Dr(Mrs)</option>
                      <option value="Chief">Chief</option>
                      <option value="Chief(Mrs)">Chief(Mrs)</option>
                      <option value="Engr">Engr</option>
                      <option value="Engr(Mrs)">Engr(Mrs)</option>
                      <option value="Alhaji">Alhaji</option>
                      <option value="Alhaja">Alhaja</option>
                      <option value="Rev">Rev</option>
                      <option value="Pastor">Pastor</option>
                      <option value="Admiral">Admiral</option>
                      <option value="General">General</option>
                      <option value="Air Comm.">Air Comm.</option>
                      <option value="Captain">Captain</option>
                      <option value="Lt. Col">Lt. Col</option>
                      <option value="Rev(Mrs)">Rev(Mrs)</option>
                      <option value="Bishop">Bishop</option>
                      <option value="Arch Bishop">Arch Bishop</option>
                      <option value="Primate">Primate</option>
                      <option value="Architect">Architect</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <p>User Types</p>
                  <div class="form-check form-check-inline" *ngIf="UserType === individual">
                    <input
                      class="form-check-input"
                      type="radio"
                      [(ngModel)]="UserType"
                      name="UserType"
                      value="individual"
                    />
                    <label class="form-check-label" for="inlineRadio1">
                      Individual</label
                    >
                  </div>
                <!-- </div>
                <div class="col-lg-4"> -->
               
                  <div class="form-check form-check-inline " *ngIf="UserType === organisation">
                    <input
                      class="form-check-input"
                      type="radio"
                      [(ngModel)]="UserType" 
                      name="UserType"
                      value="organisation"
                    />
                    <label class="form-check-label" for="inlineRadio1">
                      Organisation</label
                    >
                  </div>
                </div>
              </div>

              <div class="row pt-2" *ngIf="UserType === individual">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>First Name</label><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      required
                      class="form-control"
                      #ref1="ngModel"
                      [(ngModel)]="firstName"
                      name="firstName"
                      placeholder="Firstname"
                    />
                    <label
                      *ngIf="
                        (ref1.dirty || myForm.submitted) &&
                        ref1.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                    <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Middle Name</label><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      required
                      #ref2="ngModel"
                      class="form-control"
                      [(ngModel)]="middleName"
                      name="middleName"
                      placeholder="Middlename"
                    />
                    <label
                      *ngIf="
                        (ref2.dirty || myForm.submitted) &&
                        ref2.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                    <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Last Name</label><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      required
                      #ref3="ngModel"
                      class="form-control"
                      [(ngModel)]="lastName"
                      name="lastName"
                      placeholder="Lastname"
                    />
                    <label
                      *ngIf="
                        (ref3.dirty || myForm.submitted) &&
                        ref3.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                    <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col-lg-4" *ngIf="UserType === organisation">
                  <div class="form-group">
                    <label>Organisation Name</label><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      required
                      #refOrg='ngModel'
                      class="form-control"
                      [(ngModel)]="organisationname"
                      name="organisationname"
                      placeholder="Organisationname"
                    /> <label
                    *ngIf="
                      (refOrg.dirty || myForm.submitted) &&
                      refOrg.errors?.required
                    "
                    class="text-danger"
                    >*Field is mandatory</label
                  >
                  <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                  </div>
                </div>
              <!-- </div>
              <div class="row"> -->
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Phone / Mobile</label><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      class="form-control"
                      required
                      #ref4="ngModel"
                      minlength="10"
                      maxlength="12"
                      [(ngModel)]="phone"
                      name="phone"
                      placeholder="Mobile"
                      (keypress)="onlyNumbers($event)"
                    />
                    <label
                      *ngIf="
                        (ref4.dirty || myForm.submitted) &&
                        ref4.errors?.required
                      "
                      class="text-danger"
                      >Field is mandatory</label
                    >
                    <label
                      *ngIf="ref4.dirty && ref4.errors?.minlength"
                      class="text-danger"
                    >
                      Minimum 10 numbers are allowed
                    </label>
                    <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Email</label><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      class="form-control"
                      #ref5="ngModel"
                      required
                      pattern="[A-Za-z0-9].*[@].*[.].*"
                      [(ngModel)]="email"
                      name="email"
                      placeholder="Email"
                    />
                    <label
                      *ngIf="
                        (ref5.touched || myForm.submitted) &&
                        ref5.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                    <label
                      *ngIf="
                        (ref5.dirty || ref5.touched) && ref5.errors?.pattern
                      "
                      class="text-danger"
                      >Characters followed by @ and .com</label
                    >
                    <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                  </div>
                </div>
              </div>

              <div class="row btn-position w-100">
                <span class="col-lg-6">
                  <button class="btn btn-primary" type="submit">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Save
                  </button></span
                >
                <span class="col-lg-6 text-right"
                  ><button
                    type="submit"
                    onclick="show2tab()"
                    class="btn btn-secondary"
                  >
                    Save and Continue
                  </button></span
                >
              </div>
            </form>
          </div>

          <!-- Second Tab -->

          <div
            class="tab-pane fade"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >
            <!-- <form class="mh-300"> -->

            <!-- Primary Address Label-->

            <div class="row pt-2">
              <div class="col-lg-2 col-md-3 col-sm-4">
                <div><b>Primary Address</b></div>
              </div>
              <div class="col-lg-10">
                <p class="mid-border"></p>
              </div>
            </div>

            <!-- Address Hipen ------ -->
            <form
              #myForm1="ngForm"
              (ngSubmit)="myForm1.form.valid && updateProfile(myForm1.value)"
              class="form-signin mh-300"
              novalidate
            >
              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label>Address</label
                    ><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      class="form-control"
                      #ref8="ngModel"
                      required
                      name="address1"
                      [(ngModel)]="address1"
                      autosize
                    />

                    <label
                      *ngIf="
                        (ref8.dirty || myForm1.submitted) &&
                        ref8.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                  </div>
                </div>
              </div>

              <!-- State  LGA City -- Dropdown -->

              <div class="row pt-2">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>State</label><span class="text-danger pl-2">*</span>
                    <!-- <input type="text" class="form-control"  placeholder="Select State"> -->
                    <select
                      id="ddltitle"
                      #ref10="ngModel"
                      required
                      class="form-control"
                      [(ngModel)]="State"
                      name="State"
                      (change)="getState($any($event.target).value)"
                    >
                      <option value="0">Select</option>
                      <option
                        *ngFor="let state of States"
                        value="{{ state.state_ID }}"
                      >
                        {{ state.state_Name }}
                        <!-- {{state.state_ID}} -->
                      </option>
                    </select>
                    <label
                      *ngIf="
                        (ref10.dirty || myForm1.submitted) &&
                        ref10.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label>LGA</label><span class="text-danger pl-2">*</span>
                    <!-- <input type="text" class="form-control"  placeholder="Select LGA"> -->

                    <select
                      id="ddltitle"
                      #ref11="ngModel"
                      required
                      class="form-control"
                      [(ngModel)]="LGA"
                      name="LGA"
                      (change)="getLga($any($event.target).value)"
                    >
                      <option value="0">Select</option>
                      <option
                        *ngFor="let Lga of Lgas"
                        value="{{ Lga.localGovtAreaId }}"
                      >
                        {{ Lga.localGovtAreaName }}
                        <!-- {{LgaFields.localGovtAreaId}} -->
                      </option>
                    </select>
                    <label
                      *ngIf="
                        (ref11.dirty || myForm1.submitted) &&
                        ref11.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>City</label><span class="text-danger pl-2">*</span>
                    <select
                      id="ddltitle"
                      #ref12="ngModel"
                      required
                      class="form-control"
                      [(ngModel)]="City"
                      name="City"
                    >
                      <option value="0">Select</option>
                      <option
                        *ngFor="let City of Citys"
                        value="{{ City.city_ID }}"
                      >
                        {{ City.city_Name }}
                        <!-- {{City.city_ID}} -->
                      </option>
                    </select>
                    <label
                      *ngIf="
                        (ref12.dirty || myForm1.submitted) &&
                        ref12.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                  </div>
                </div>
              </div>

              <!-- Secondary Address Label -->

              <div class="row pt-2">
                <div class="col-lg-2 col-md-3 col-sm-4 pl-0">
                  <div>
                    <label>Secondary Address</label>
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="form-group">
                    <p class="mid-border"></p>
                  </div>
                </div>
              </div>

              <!-- Secondary Address Bar -->

              <div class="row">
                <div class="col-lg-8">
                  <div class="form-group">
                    <label>Address</label>
                    <input
                      class="form-control"
                      type="text"
                      name="address2"
                      [(ngModel)]="address2"
                      autosize
                    />
                  </div>
                </div>

                <div class="col-lg-4" *ngIf='isAddress_Same === false'>
                  <p>
                    <small>Is State, LGA and City are same as above?</small>
                  </p>
                  <input
                    [(ngModel)]="isAddress_Same"
                    name="isAddress_Same"
                    type="radio"
                    [value]="false"
                  />
                  Yes
                  <input
                    [(ngModel)]="isAddress_Same"
                    name="isAddress_Same"
                    type="radio"
                    [value]="true"
                  />
                  No
                </div>
              </div>
              <div id="div1"  *ngIf='isAddress_Same ===true'>
                <div class="row pt-2">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>State</label
                      ><span class="text-danger pl-2">*</span>
                      <select
                        id="ddltitle"
                        #refStat="ngModel"
                        required
                        class="form-control"
                        [(ngModel)]="sec_State"
                        name="sec_State"
                        (change)="getSec_state($any($event.target).value)"
                      >
                        <option value="0">Select</option>
                        <option
                          *ngFor="let state of sec_States"
                          value="{{ state.state_ID }}"
                        >
                          {{ state.state_Name }}
                        </option>
                      </select>
                      <label
                        *ngIf="
                          (refStat.dirty || myForm1.submitted) &&
                          refStat.errors?.required
                        "
                        class="text-danger"
                        >*Field is mandatory</label
                      >
                    </div>
                  </div>

                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>LGA</label><span class="text-danger pl-2">*</span>
                      <select
                        id="ddltitle"
                        #refLga="ngModel"
                        required
                        class="form-control"
                        [(ngModel)]="sec_LGA"
                        name="sec_LGA"
                        (change)="getsec_LGA($any($event.target).value)"
                      >
                        <option value="0">Select</option>
                        <option
                          *ngFor="let Lga of SecLgas"
                          value="{{ Lga.localGovtAreaId }}"
                        >
                          {{ Lga.localGovtAreaName }}
                        </option>
                      </select>
                      <label
                        *ngIf="
                          (refLga.dirty || myForm1.submitted) &&
                          refLga.errors?.required
                        "
                        class="text-danger"
                        >*Field is mandatory</label
                      >
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>City</label><span class="text-danger pl-2">*</span>
                      <select
                        id="ddltitle"
                        #refCity="ngModel"
                        required
                        class="form-control"
                        [(ngModel)]="sec_City"
                        name="sec_City"
                      >
                        <option value="0">Select</option>
                        <option
                          *ngFor="let City of SecCitys"
                          value="{{ City.city_ID }}"
                        >
                          {{ City.city_Name }}
                        </option>
                      </select>
                      <label
                        *ngIf="
                          (refCity.dirty || myForm1.submitted) &&
                          refCity.errors?.required
                        "
                        class="text-danger"
                        >*Field is mandatory</label
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="row btn-position w-100">
                <span class="col-lg-6">
                  <button class="btn btn-primary" type="submit">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Save
                  </button></span
                >
                <span class="col-lg-6 text-right"
                  ><button
                    type="submit"
                    onclick="showtab()"
                    class="btn btn-secondary"
                  >
                    Save and Continue
                  </button></span
                >
              </div>
            </form>
          </div>

          <!-- Third Tab -->

          <div
            class="tab-pane fade"
            id="contact"
            role="tabpanel"
            aria-labelledby="contact-tab"
          >
            <form
              #myForm2="ngForm"
              (ngSubmit)="myForm2.form.valid && updateProfile(myForm2.value)"
              class="form-signin"
              novalidate
            >
            <div *ngIf="UserType === organisation">
              <div class="row pt-2">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>National ID</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="national_ID"
                      name="national_ID"
                      placeholder="Enter Nationalid"
                    />
                    <span class="edit-icon-position"
                    ><i class="bi bi-pencil-fill"></i
                  ></span>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Payer ID</label
                    ><span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      required
                      #refPAID='ngModel'
                      name="PayerID"
                      [(ngModel)]="PayerID"
                      class="form-control"
                      placeholder="N-444875"
                    />
                    <label
                    *ngIf="
                      (refPAID.dirty || myForm2.submitted) &&
                      refPAID.errors?.required
                    "
                    class="text-danger"
                    >*Field is mandatory</label
                  >
                  <span class="edit-icon-position"
                  ><i class="bi bi-pencil-fill"></i
                ></span>
                    <!-- If you don't have a Payer ID, -->
                    <!-- <a  href="javascript: void(0);" style="color: #007bff" (click)=generatePayerId()>Click Here</a> to Generate -->
                    <p style="font-size: small">
                      If you don't have a Payer PayerID? <br />
                      <a
                      href="javascript: void(0);" (click)=generatePayerId()
                        style="text-decoration: underline; color: #007bff"
                        >Click Here To Generate</a
                      >
                    </p>
                  </div>
                  <!-- <p style="font-size: small;">If you don't have a Payer PayerID? <br> <a href="Click Here To Generate" style="text-decoration: underline">Click Here To Generate</a></p> -->
                </div>
              </div></div>
              <div *ngIf="UserType === individual">
                <div class="row pt-2">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Gender</label><span class="text-danger pl-2">*</span>
  
                      <select
                        id="ddltitle"
                        required
                        #ref15="ngModel"
                        class="form-control"
                        [(ngModel)]="gender"
                        name="gender"
                      >
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                      <label
                        *ngIf="
                          (ref15.dirty || myForm2.submitted) &&
                          ref15.errors?.required
                        "
                        class="text-danger"
                        >*Field is mandatory</label
                      >
                    </div>
                  </div>
  
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>DOB</label><span class="text-danger pl-2">*</span>
                      <input
                        type="date"
                        #ref9="ngModel"
                        required
                        class="form-control"
                        [(ngModel)]="date_Of_Birth"
                        name="date_Of_Birth"
                      />
                      {{date_Of_Birth}}
                      <label
                        *ngIf="
                          (ref9.dirty || myForm2.submitted) &&
                          ref9.errors?.required
                        "
                        class="text-danger"
                        >*Field is mandatory</label
                      >
                      <!-- </div> -->
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Marital Status</label
                      ><span class="text-danger pl-2">*</span>
  
                      <select
                        id="ddltitle"
                        #ref13="ngModel"
                        required
                        class="form-control"
                        [(ngModel)]="MaritalStatus"
                        name="MaritalStatus"
                      >
                      <option value="0">Select</option>
                        <option value="M">Married</option>
                        <option value="S">Single</option>
                        <option value="W">Widow/Widower</option>
                        <option value="D">Divorced</option>
                      </select>
                      <label
                        *ngIf="
                          (ref13.dirty || myForm2.submitted) &&
                          ref13.errors?.required
                        "
                        class="text-danger"
                        >*Field is mandatory</label
                      >
                    </div>
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>BankVerificationNumber</label
                      ><span class="text-danger pl-2">*</span>
                      <input
                        type="text"
                        name="BVN"
                        required
                        #refBVN='ngModel'
                        [(ngModel)]="BVN"
                        class="form-control"
                      />
                      <label
                      *ngIf="
                        (refBVN.dirty || myForm2.submitted) &&
                        refBVN.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                      <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                    </div>
                  </div>
  
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>National ID</label>
                      <input
                        type="text"
                        class="form-control"
                        [(ngModel)]="national_ID"
                        name="national_ID"
                        placeholder="Enter Nationalid"
                      />
                      <span class="edit-icon-position"
                      ><i class="bi bi-pencil-fill"></i
                    ></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Payer ID</label
                      ><span class="text-danger pl-2">*</span>
                      <input
                        type="text"
                        required
                        #refPAID='ngModel'
                        name="PayerID"
                        [(ngModel)]="PayerID"
                        class="form-control"
                        placeholder="N-444875"
                      />
                      <label
                      *ngIf="
                        (refPAID.dirty || myForm2.submitted) &&
                        refPAID.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                    <span class="edit-icon-position"
                    ><i class="bi bi-pencil-fill"></i
                  ></span>
                      <!-- If you don't have a Payer ID, -->
                      <!-- <a  href="javascript: void(0);" style="color: #007bff" (click)=generatePayerId()>Click Here</a> to Generate -->
                      <p style="font-size: small">
                        If you don't have a Payer PayerID? <br />
                        <a
                        href="javascript: void(0);" (click)=getOrganizationId()
                          style="text-decoration: underline; color: #007bff"
                          >Click Here To Generate</a
                        >
                      </p>
                    </div>
                    <!-- <p style="font-size: small;">If you don't have a Payer PayerID? <br> <a href="Click Here To Generate" style="text-decoration: underline">Click Here To Generate</a></p> -->
                  </div>
                </div></div>
              <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 pl-0">
                  <div>
                    <label>Security Question</label>
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="form-group">
                    <p class="mid-border"></p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Security Question</label
                    ><span class="text-danger pl-2">*</span>
                    <select
                      required
                      #refAN1S="ngModel"
                      class="form-control"
                      [(ngModel)]="Securityquestion"
                      name="Securityquestion"
                    >
                      <option value="1">What Is your NickName?</option>
                      <option value="2">What Is your first Mobile No?</option>
                      <option value="3">In What city were you born?</option>
                      <option value="4">
                        What is the name of your first school?
                      </option>
                      <option value="5">
                        What is your mother's maiden name?
                      </option>
                      <option value="6">
                        What was the make of your first car?
                      </option>
                      <option value="7">
                        Which is your favorite web browser?
                      </option>
                      <option value="8">What is your favorite color?</option>
                    </select>
                    <label
                      *ngIf="
                        (refAN1S.dirty || myForm2.submitted) &&
                        refAN1S.errors?.required" class="text-danger">*Field is mandatory
                        </label>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label>Type Answer</label>
                    <span class="text-danger pl-2">*</span>
                    <input
                      type="text"
                      required
                      #refANS="ngModel"
                      class="form-control"
                      name="Securityanswer"
                      [(ngModel)]="Securityanswer"
                    />
                    <label
                      *ngIf="
                        (refANS.dirty || myForm2.submitted) &&
                        refANS.errors?.required
                      "
                      class="text-danger"
                      >*Field is mandatory</label
                    >
                    <span class="edit-icon-position"
                    ><i class="bi bi-pencil-fill"></i
                  ></span>
                  </div>
                </div>
              </div>

              <div class="row btn-position w-100">
                <span class="col-lg-6"
                  ><button class="btn btn-primary" type="submit">
                    <span
                      *ngIf="loading"
                      class="spinner-border spinner-border-sm mr-1"
                    ></span>
                    Save
                  </button></span
                >
                <span class="col-lg-6 text-right"
                  ><button type="submit" class="btn btn-secondary">
                    Done
                  </button></span
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
