<section class="col-md-12 bg-form">
<div class="container">
<div class="col-lg-6 form-box">

<form #myform="ngForm" (ngSubmit)="loginUser()" class="form-signin">
    
    <label for="inputEmail">User Name</label>
    <input type="text" id="inputEmail" [(ngModel)]="userName" name="userName" class="form-control mb-3" placeholder="User name" required autofocus>
   
    <label for="inputPassword">Password</label>
    <input type="password" id="inputPassword"  [(ngModel)]="password" name="password" class="form-control mb-3" placeholder="Password" required>
    <div class="checkbox mb-3">
   
        <label>
    <input type="checkbox"[(ngModel)]="remember_me" name="remember_me"  value="remember_me"> Remember me
    </label>
</div>
    
<button class="btn btn-secondary" type="submit">Log in</button>
    <p class="mt-4 mb-0 text-muted">
    <label>
    <a class="textdecor" href="#">Forgot Password?</a>
    </label></p>
        <p class="mt-1 mb-1 text-muted"><label>
    <a class="textdecor" [routerLink]="['/registration']">New to JIS ? Sign Up Free</a>
    </label></p>
    
</form>
</div>
</div>
</section> 