<section class="col-md-12 bg-form">
  <div class="container">
    <div class="col-lg-6 form-box">
      <form
        #myform="ngForm"
        (ngSubmit)="myform.form.valid && loginUser(myform.value)"
        class="form-signin"
      >
        <div class="form-group">
          <label for="inputEmail">User Name</label>
          <input
            type="text"
            id="inputEmail"
            #ref1="ngModel"
            [(ngModel)]="userName"
            name="userName"
            class="form-control mb-3"
            placeholder="User name"
            required
            autofocus
          />
          <label
            *ngIf="(ref1.dirty || ref1.touched) && ref1.errors?.required"
            class="text-danger"
            >*Field is mandatory</label
          >
        </div>

        <div class="form-group">
          <label>Password</label>
          <input
            type="password"
            #ref2="ngModel"
            required
            minlength="4"
            pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,16}$"
            class="form-control"
            [(ngModel)]="password"
            name="password"
            placeholder="*****"
          />
          <label
            *ngIf="ref2.touched && ref2.errors?.required"
            class="text-danger"
            >*Field is mandatory</label
          >
          <label
            *ngIf="(ref2.dirty || ref2.touched) && ref2.errors?.pattern"
            class="text-danger"
          >
            1 Upper case,Numerals,Lower case</label
          >
          <label
            *ngIf="(ref2.dirty || ref2.touched) && ref2.errors?.minlength"
            class="text-danger"
          >
            Minimum 4 characters required</label
          >
        </div>

        <div class="checkbox mb-3">
          <label>
            <input
              type="checkbox"
              required
              #ref3="ngModel"
              [(ngModel)]="remember_me"
              name="remember_me"
              value="remember_me"
            />
            Remember me
          </label>
          <label
            *ngIf="(ref3.dirty || ref3.touched) && ref3.errors?.required"
            class="text-danger"
            >*Field is mandatory</label
          >
        </div>

        <button
          class="btn btn-secondary"
          [disabled]="myform.invalid"
          type="submit"
        >
          Log in
        </button>
        <p class="mt-4 mb-0 text-muted">
          <label>
            <a class="textdecor" href="#">Forgot Password?</a>
          </label>
        </p>
        <p class="mt-1 mb-1 text-muted">
          <label>
            <a class="textdecor" [routerLink]="['/registration']"
              >New to JIS ? Sign Up Free</a
            >
          </label>
        </p>
      </form>
    </div>
  </div>
</section>
