@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html {
  padding-top: 4.5rem;
  background-color: #fff!important;
  padding: 0px;
  margin: 0px;
}
body {
  padding-top: 4.5rem;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif!important;
}
.form-signin {
  width: 100%;
  padding: 10px 0px 0px 15px;
  margin: 0px auto;
  text-align: left;
}
.form-signin a:link {
  color: #666;
}
.form-signin a:visited {
  color: #2d8cff;
}
.form-signin a:hover {
  color: #2d8cff;
}
.form-signin label {
  color: #666;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
 /* padding: 10px;*/
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
::placeholder {
  color: #d8d8d8 !important;
}
.logo {
  position: fixed;
  top: 0px;
  left: 10px;
}
.navbar-light .navbar-nav .nav-link {
  color: #333;
  padding: 0.5rem 1.1rem;
}
.navbar-light .navbar-nav .nav-link:focus {
  color: #000;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #000;
}
.bg-light {
  background-color: #fff !important;
}
.btn {
  padding: 0.5rem 1.1rem;
 /* border-radius: 20px;*/
  min-width: 125px;
}
.btn-primary {
  color: #fff;
  background-color: #2d8cff !important;
  border-color: #2d8cff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0676fe;
  border-color: #0676fe;
}
.btn-primary:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0676fe;
  border-color: #0676fe;
}
.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #0676fe;
  border-color: #0676fe;
}
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0676fe;
  border-color: #0676fe;
}
.white-bg {
  background: #fff;
}
.btn-secondary {
  color: #fff!important;
  background-color: #f16c21;
  border-color: #f16c21;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #da621e;
  border-color: #da621e;
}
.bg-form {
  background: #fafaf9 url("../assets/img/bg-form.png") no-repeat right bottom;
  background-attachment: scroll;
  width: 100%;
  padding-top: 10%;
  min-height: 95vh;
}
.form-box {
  /* -webkit-box-shadow: 3px 7px 8px 6px #000;
  -moz-box-shadow: 3px 7px 8px 6px #000; */
  /* box-shadow: 3px 7px 8px 6px #000; */
  padding: 20px;
  /* background: #fff; */
  border-radius: 10px;
  /* margin-top: 10px; */
}
.arrows {
  font-size: 28px;
  color: rgba(10, 10, 10, 0.5);
}
.news-footer {
  padding: 20px;
  text-align: left;
  margin-top: 20px;
}
.news-footer a:link {
  color: #f16c21;
}
.news-footer a:visited {
  color: #f16c21;
}
.news-footer a:hover {
  color: #da621e;
}
.footer {
  background: url("../assets/img/footer-bg.png") no-repeat left top;
  padding: 10px 0px;
  margin-top: 30px;
}
.footer-link {
  background: url("../assets/img/footer-bg.png") no-repeat left top;
  min-height: 339px;
  margin-top: 20px;
  background-size: cover;
  color: #fff;
}
.footer-link h3 {
  color: #fff;
}
.footer-link i {
  font-size: 30px;
}
.footer-link a.nobullet {
  display: inline !important;
  background: none !important;
  padding: 0px !important;
}
.footer-link a:link {
  color: #fff;
  display: block;
  line-height: 30px;
  padding-left: 15px;
  background: url("../assets/img/circle.png") no-repeat left center;
}
.footer-link a:visited {
  color: #fff;
  display: block;
  line-height: 30px;
  padding-left: 15px;
  background: url("../assets/img/circle.png") no-repeat left center;
}
.effect6:before {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}
.effect6:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 50%;
  bottom: 0;
  left: 10px;
  right: 10px;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}
a.textdecor:hover {
  text-decoration: none;
  /* text-decoration: underline; */
}
a.textdecor {
  color: #2d8cff;
}

/* .btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
} */

/* .btn-secondary:hover {
  color: #fff;
  background-color: #da621e !important;
  border-color: #da621e !important;
} */
.newcj {
  background-image: url("../assets/img/NewCJ.png");
  background-repeat: no-repeat;
  background-size: 76%;
  background-position: right;
  /* width: 100%;
  padding-top: 10%;
  min-height: 95vh; */
}
.newcj1 {
  background: url("../assets/img/register-left-img.jpg") no-repeat left top;
  /* background-size: fixed; */
  background-attachment: fixed;

  /* width: 100%;
  padding-top: 10%;*/
  min-height: 100vh; 
}
.form-control::-webkit-input-placeholder {
  color: #d7c185 !important;
} /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {
  color: #d7c185 !important;
} /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {
  color: #d7c185 !important;
} /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {
  color: #d7c185 !important;
} /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {
  color: #d7c185 !important;
} /* Microsoft Edge */
.style {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.Transparent {
  opacity: 0.2;
}
.styling {
  text-align: center;
  font-weight: bold;
}
.styling img {
  width: 100px;
  height: 100px;
}
.center {
  text-align: center;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: pink;
}
.form-control.ng-invalid.ng-touched {
  border: 1px solid coral;
  box-shadow: 1px 1px 5px 1px coral;
}
.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.form-title {
  font-size: 22px;
  color: #333;
  padding: 10px;
  /* border-bottom: 1px solid #d9d9d9; */
}
.form-bg2 {
  background: #eeeded;
  /* border: 1px solid #d9d9d9; */
  padding: 15px;
  margin-bottom: 10px;
}


/* edit profile */
.fix-left-area{
	height: 100vh;
	overflow: auto;
	background: #eef0f2;
	position:absolute;
}
.fix-right-area{
	height: 100vh;
	overflow: auto;
	background: #fff;
	position:absolute;
	right: 0;
}

.lt-nav{
	background: #f4f5f7;
	padding: 10px;
	width: 100%;
/*	box-shadow: -1px -1px 7px 0px #bbb;*/
	text-align: left;
}
.text-black, .text-black a{
	color: #000;
	font-weight: bold;
	min-height: 50px;
}
.rollname{
	color:#2d8cff;
	position: relative;
	top:-12px;
	clear: both;
	display: block;
	left:10px;
}
.nav-tabs .nav-link{
	background:#666666!important;
	border:0;
	color: #f6f6f6;
	border-top-left-radius: 0;
	
		border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
	  min-width: 190px;
	height: 47px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover,.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	background:#2d8cff!important;
	color: #fff;
	word-break: break-all;
}
.circle-count{
	float: left;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;
    margin-right: -23px;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
}
.circle-count2{
	float: left;
    width: 50px;
    height: 50px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 41px;  
    margin-left: -23px;
    z-index: 2;
    font-size: 20px;
    font-weight: bold;
}
.tab2-minus{
	margin-left: -21px;
    padding-left: 30px;
	padding-right:40px;
}
.right-radius{
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-tabs{
	border-bottom: 0px;
}
.cus-width{
	width: 670px;
	margin: 0px auto;
}
.edit-form-bg{
	background:url("../assets/img/edit-form-bg.jpg")no-repeat left center;
	background-attachment: fixed;
	background-size: cover;
	width: 100%;
  height: 80vh;
}
.mh-300{
	min-height: 380px;
}
.btn-primary {
    color: #fff;
    background-color: #2d8cff;
    border-color: #2d8cff;
	
}
.btn-primary:hover {
    color: #fff;
    background-color: #0676fe;
    border-color: #0676fe;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0676fe;
    border-color: #0676fe;
}
.white-bg{
	background:#fff;
}
.btn-secondary {
    color: #fff;
    background-color: #f16c21;
    border-color: #f16c21;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #da621e;
    border-color: #da621e;
}
.edit-icon-position{
	position: relative;
    top: -34px;
    right: 5px;
    float: right;
}
@media (min-width: 320px) and (max-width:700px) {
	.fix-left-area{
	height: auto!important;
	overflow: auto;
	background: #eef0f2;
	position:relative!important;
}
	.cus-width{
		width:100%;
	}
.fix-right-area{
	height: auto!important;
	overflow: auto;
	background: #fff;
	position:relative!important;
	right: 0;
}
}
.mid-border{
  border-top: 1px dashed #999;
    margin-top: 10px;
}
label{
  margin-bottom: .3rem;
}
.form-group{
  margin-bottom: .5rem;
}
.hide {
  display: none;
}

/* image sliders */



body {
  color: #5a5a5a;
}


.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 38rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}



.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/****slider***/

.slider1-bg{
	background:url("../assets/img/slider-1-bg.jpg") no-repeat left center;
	background-size: cover;
}
.bigger-heading{
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	color: #5d4c46;
	font-size: 5rem;
	line-height: 4rem;
}
.big-heading{
	font-family: 'Bebas Neue', cursive;
	font-weight: 400;
	color: #5d4c46;
	font-size: 4.7rem;
	letter-spacing: 0.4rem;
}
.home-dashboard-summary-section{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 150px;
}
.light-blue-box{
  background:#d4e2f6;
  color:#000;
  text-align: center;
}
.left-corners{
  border-top-left-radius: 50px;
  padding:5px 10px;
  margin-bottom: 5px;
}
.left-corners h3{
  font-size:2rem;
  margin-bottom: 2px;
}
.light-orange-box{
  background:#fdcfba;
  color:#000;
  text-align: center;
}
.light-green-box{
  background:#d0dec0;
  color:#000;
  text-align: center;
}
.light-purple-box{
  background:#cfc9ec;
  color:#000;
  text-align: center;
}
.shadow-bottom222{
  background:#c69dbb url(../assets/img/shadow-border.png) repeat-x center bottom;
  height: 60px;
  width: 100%;
}
.ep a:link, .ep a:visited{
  text-decoration: none;
  color: #333;
  padding:5px 0px 5px 10px;
  border-bottom: 1px solid #ccc;
  display: block;
}
.ep a:hover{
  color:#f16c21;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(236 238 240);
}
.dropdown-menu{
  box-shadow:8px 8px 8px 2px #cacaca;
}
.features-section-1{
  background:#c69dbb;
}
.feat-icon svg, .feat-icon img{
  width:70px;
  height: 70px;
  margin-bottom: 10px;
}
h2,h3,h4,h5{
  color:#333;
}
.abt-jis-hom-section{
  background:url(../assets/img/about-jis-section-bg.jpg) no-repeat center bottom;
  background-size: cover;
}
.svg50{
  width:50px;
  height: 50px;
}
.home-gallery-bg{
  background:url(../assets/img/galley-bg.jpg) no-repeat center bottom;
  background-size: cover;
}
/**gallery css ****/
/* Slider */
#slider{
  width:100%;
  height:80%;
  position:relative;
  overflow:hidden;
  margin:0px;
  border:10px solid #fff;
  box-shadow: 2px 5px 11px 7px rgb(103 103 103 / 33%);
}
@keyframes load{
  from{left:-100%;}
  to{left:0;}
}
.slides{
  width:400%;
  height:auto;
  position:relative;
  -webkit-animation:slide 30s infinite;
  -moz-animation:slide 30s infinite;
  animation:slide 30s infinite;
}
.slider{
  width:25%;
  height:100%;
  float:left;
  position:relative;
  z-index:1;
  overflow:hidden;
}
.slide img{
  width:100%;
  height:100%;
}
.slide img{
  width:100%;
  height:100%;
}
.image{
  width:100%;
  height:100%;
}
.image img{
  width:100%;
  height:100%;
}

/* Legend */
.legend{
  border:500px solid transparent;
  border-left:800px solid rgba(52, 73, 94, .7);
  border-bottom:0;
  position:absolute;
  bottom:0;
}

/* Contents */
.content{
  width:100%;
  height:100%;
  position:absolute;
  overflow:hidden;
}
.content-txt{
  width:400px;
  height:150px;
  float:left;
  position:relative;
  top:300px;
  -webkit-animation:content-s 7.5s infinite;
  -moz-animation:content-s 7.5s infinite;
  animation:content-s 7.5s infinite;
}
.content-txt h2{
  font-family:Arial;
  text-transform:uppercase;
  font-size:24px;
  color:#fff;
  text-align:left;
  margin-left:30px;
  padding-bottom:10px;
}
.content-txt p{
  font-family:arial;
  font-weight:normal;
  font-size:14px;
  font-style:italic;
  color:#fff;
  text-align:left;
  margin-left:30px;
}

/* Switch */
.switch{
  width:120px;
  height:10px;
  position:absolute;
  bottom:50px;
  z-index:99;
  left:30px;
}
.switch > ul{
  list-style:none;
}
.switch > ul > li{
  width:10px;
  height:10px;
  border-radius:50%;
  background:#333;
  float:left;
  margin-right:5px;
  cursor:pointer;
}
.switch ul{
  overflow:hidden;
}
.on{
  width:100%;
  height:100%;
  border-radius:50%;
  background:#f39c12;
  position:relative;
  -webkit-animation:on 30s infinite;
  -moz-animation:on 30s infinite;
  animation:on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@-moz-keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}
@keyframes slide{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:-100%;
  }
  46%{
    margin-left:-100%;
  }
  50%{
    margin-left:-200%;
  }
  71%{
    margin-left:-200%;
  }
  75%{
    margin-left:-300%;
  }
  96%{
    margin-left:-300%;
  }
}

@-webkit-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@-moz-keyframes content-s{
  0%{left:-420px;}
  10%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}
@keyframes content-s{
  0%{left:-420px;}
  10%{left:20px;}
  15%{left:0px;}
  30%{left:0px;}
  40%{left:0px;}
  50%{left:0px;}
  60%{left:0px;}
  70%{left:0;}
  80%{left:-420px;}
  90%{left:-420px;}
  100%{left:-420px;}
}

@-webkit-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@-moz-keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}

@keyframes on{
  0%,100%{
    margin-left:0%;
  }
  21%{
    margin-left:0%;
  }
  25%{
    margin-left:15px;
  }
  46%{
    margin-left:15px;
  }
  50%{
    margin-left:30px;
  }
  71%{
    margin-left:30px;
  }
  75%{
    margin-left:45px;
  }
  96%{
    margin-left:45px;
  }
}
