
<div class="row m-0">
    <div class="col-md-3 col-xs-6 col-sm-5 fix-left-area  p-0 shadow">
      <div class="row m-0">
        <div class="col-md-3 col-xs-12 col-sm-12 p-0">
          <img src="assets/brand/lagos_state_Judiciary.png" class="img-fluid" />
        </div>
        <div class="col-md-9 col-xs-12 col-sm-12">
          <div class="pt-2 pb-1 text-uppercase float-right">
            <div class="dropdown">
              <button
                class="btn text-black  text-left dropdown-toggle"
                type="button"
                id="dropdownMenu2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="text-uppercase">{{userName}}</span>
              </button>
              <small
                ><span class="rollname text-uppercase text-left pl-2"
                  >Legal counsel</span
                ></small
              >
              <ul class="dropdown-menu fade" aria-labelledby="dropdownMenu2">
                <li class="p-0 ep">
                  <a [routerLink]="['/edit-profile']" class="text-capitalize">Edit Profile</a>
                </li>
                <li class="p-0 ep">
                  <a href="#" class="text-capitalize">User Signature</a>
                </li>
                <li class="p-0 ep">
                  <a [routerLink]="['/change-password']" class="text-capitalize">Reset Password</a>
                </li>
                <li class="p-0 ep">
                  <a href="" class="text-capitalize">My Schedules</a>
                </li>
                <li class="p-0 ep">
                  <a href="javascript: void(0);" style="border-bottom:0px" (click)="logout()" class="text-capitalize">Logout</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#mycases"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            My Cases
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse fade" id="mycases">
          <div class="card card-body text-black text-uppercase">
            <a href="#">ddss</a>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Suit filing
            <span class="float-right"><i class="bi bi-chevron-right"></i></span>
          </a>
        </p>
        <div class="collapse fade" id="collapseExample">
          <div class="card card-body text-black">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
            terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
            labore wes anderson cred nesciunt sapiente ea proident.
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#filling"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Filing
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse" id="filling">
          <div class="card card-body text-black">
            <a href="#">tess</a>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            href=""
            role="button"
            aria-expanded="false"
          >
            Assign Legal Counsel
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            href="#"
            role="button"
            aria-expanded="false"
          >
            Case Association Request
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#payments"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Payments
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse fade" id="payments">
          <div class="card card-body text-black">
            <a href="#">Filing a Motion / Application</a>
            <a href="#">Filing Appeal</a>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#forms"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Forms
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse fade" id="forms">
          <div class="card card-body text-black">
            <a href="#">Filing a Motion / Application</a>
            <a href="#">Filing Appeal</a>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#lawfirms"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            Law Firms
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse fade" id="lawfirms">
          <div class="card card-body text-black">
            <a href="#">Filing a Motion / Application</a>
            <a href="#">Filing Appeal</a>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase shadow"
            data-toggle="collapse"
            href="#ADR"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            ADR Cases
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse fade" id="ADR">
          <div class="card card-body text-black">
            <a href="#">Filing a Motion / Application</a>
            <a href="#">Filing Appeal</a>
          </div>
        </div>
      </div>
      <div>
        <p class="mb-0">
          <a
            class="btn lt-nav text-black text-uppercase"
            data-toggle="collapse"
            href="#CTC"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            CTC / Other Judiciary Services
            <span
              class="glyphicon glyphicon-align-left"
              aria-hidden="true"
            ></span>
          </a>
        </p>
        <div class="collapse" id="CTC">
          <div class="card card-body text-black">
            <a href="#">Filing a Motion / Application</a>
            <a href="#">Filing Appeal</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9 col-xs-6 col-sm-7 bg-rt-area fix-right-area">
        <div class="row m-0 mt-3">
            <div class="db-score shadow p-2 m-1">
                <h3>130</h3>
                <p>Record(s) in Draft Mode</p>
            </div>
            <div class="db-score shadow p-1 m-1">
              <h3>45</h3>
              <p>My Cases Activities</p>
          </div>
          <div class="db-score shadow p-1 m-1">
            <h3>29</h3>
            <p>Pending Payments </p>
        </div>
        <div class="db-score shadow p-1 m-1">
          <h3>88</h3>
          <p>Newly Filed Cases</p>
      </div>
      <div class="db-score shadow p-1 m-1">
        <h3>54</h3>
        <p>Concluded Cases</p>
    </div>
        </div>
        <div class="row m-0 mt-2 ml-1 mr-1 bg-white shadow">
        <div class="clearfix col-md-12">  <div class="float-left"><h5 class="pt-3 pl-3">My Case ActiVities</h5></div>
          <div class="float-right form-inline mt-3">
            <div class="form-group pr-2"> <a href="">View all</a> </div>
            <div class="form-group">
            
               <select class="form-control"><option>Hight Court</option> <option>Small Court</option></select>
             </div></div></div>
          <div class="col-md-12 text-center pb-3">
         <img src="/assets/img/devexpress.png" alt="Dev Exoress" class="img-fluid" >
        </div>
        </div>
        <div class="row m-0 mt-3 mb-4">
          <div class="col text-center ft-icons">
            <img src="/assets/img/ManageSuit.svg" class="svg-mid">
            <span class="d-block icon-title">Manage Suit</span>
          </div>
  
          <div class="col text-center ft-icons">
            <img src="/assets/img/CaseDocuments.svg" class="svg-mid">
            <span class="d-block icon-title">Case Documents</span>
          </div>
          
          <div class="col text-center ft-icons">
            <img src="/assets/img/CounterClaim.svg" class="svg-mid">
            <span class="d-block icon-title">Counter Claim</span>
          </div>
  
  
          <div class="col text-center ft-icons">
            <img src="/assets/img/highcourt.svg" class="svg-mid">
            <span class="d-block icon-title">High Court</span>
          </div>
  
          <div class="col text-center ft-icons">
            <img src="/assets/img/forms-1.svg" class="svg-mid">
            <span class="d-block icon-title">Forms</span>
          </div>
          <div class="col text-center ft-icons">
            <img src="/assets/img/Pendingpayments.svg" class="svg-mid">
            <span class="d-block icon-title">Pending payments</span>
          </div>
          <div class="col text-center ft-icons">
            <img src="/assets/img/PostJudgement.svg" class="svg-mid">
            <span class="d-block icon-title">Post Judgement</span>
          </div>
         </div>
    </div>
  </div>
  