



<!-- <h1>Reset Password</h1> -->


<style>body{
    background: #e0e0e0!important;
  }</style>
  
  
  
  
  
      <!-- Form Design -->
  
  
  
      <div class="container pt-2">
        <div class="col-md-6 offset-md-3 mt-5">
  
          <div class="form-contacciner shadow p-5">
  
          <img class="cp-logo" [routerLink]="['/Legal-dashboard']"  style="cursor:pointer" src="../assets/brand/lagos_state_Judiciary.png">
          <h3 class="text-center mb-4">Reset Password</h3>
  
          <form class="form-1" action="" #changePasswordForm="ngForm"
          (ngSubmit)="oldPassword(changePasswordForm)">
  
  
  
            <!-- Old password -->
           <div class="form-group">
              <label for="User_Pass">Enter Old Password :</label>
              <input type="password" class="form-control col-md-11  col-xs-10" id="User_Pass" name="User_Pass" [(ngModel)]="User_Pass" required
                     minlength="4" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,32}$"
                     #User_PassRef="ngModel"/>
                    </div>
  
  
            <!-- New Password -->
            <div class="form-group">
  
              <label for="NewUser_Pass">Enter New Password :</label>
  
              <div class="input-group row m-0">
  
                  <input type="password" class="form-control col-md-11 col-xs-10 col-sm-10" id="NewUser_Pass" [type]="fieldTextType ? 'text' : 'password'"
                  name="NewUser_Pass" [(ngModel)]="NewUser_Pass" required
                        minlength="4" pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,32}$"
                        #NewUser_PassRef="ngModel"/>
  
  
                        <span class="pt-3 col-md-1 col-xs-2 col-sm-2" style="cursor: pointer;">
                          <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType, 'bi-eye': fieldTextType }"
                          (click)="toggleFieldTextType()"></i>
                        </span>
  
  
  
              </div>
  
  
             <label *ngIf="(NewUser_PassRef.touched  && NewUser_PassRef.errors?.required)"
                        class="text-danger">*Field is mandatory</label>
             <label *ngIf="(NewUser_PassRef.dirty || NewUser_PassRef.touched) && NewUser_PassRef.errors?.pattern"
                     class="text-danger"> 1 Upper case,Numerals,Lower case, Special Character</label>
            <label  *ngIf="NewUser_PassRef.touched && NewUser_PassRef.errors?.minlength"
                      class="text-danger"> Minimum 4 characters required</label>
            <label  *ngIf="NewUser_PassRef.dirty && (User_PassRef.value == NewUser_PassRef.value)"
               class="text-danger"> Old Password & New Password should not be same</label>
            </div>
  
            <password-strength-meter [password]="NewUser_Pass"  pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,32}$">
            </password-strength-meter>
  
             <!-- Confirm Password -->
  
             <div class="form-group">
                <label for="confirmPassword">Confirm Password :</label>
                   <div class="input-group row m-0">
                     <!-- <input type="text" class="form-control"> -->
                    <input type="password" class="form-control col-md-11  col-xs-10  col-sm-10" id="confirmPassword"
                    [type]="fieldTextType2 ? 'text' : 'password'"
                    name="confirmPassword" [(ngModel)]="confirmPassword" required
                          minlength="4" pattern="{{ NewUser_Pass }}"
                          #confirmPasswordRef="ngModel"/>
  
                          <!-- <span class="pt-3 col-md-1 col-xs-2 col-sm-2">
                            <i class="bi" [ngClass]="{ 'bi-eye-slash': !fieldTextType2, 'bi-eye': fieldTextType2 }"
                            (click)="toggleFieldTextType2()"></i>
                          </span>
   -->
  
                    </div>
  
                   <label *ngIf="(confirmPasswordRef.dirty || changePasswordForm.submitted) && confirmPasswordRef.errors?.required"
                  class="text-danger">
                  *Field is mandatory
                </label>
  
                <label *ngIf="confirmPasswordRef.errors?.pattern" class="text-danger">
                  Password and confirm password must match </label>
  
            </div>
  
            <!-- <password-strength-meter [password]="confirmPassword"  pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z]).{4,32}$">
            </password-strength-meter> -->
  
            <!-- Submit Button -->
  
             <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Submit</button>
            <!-- &nbsp; <button type="button" [routerLink]="['/edit-profile']" class="btn btn-secondary" >Cancel</button> -->
            &nbsp; <button type="button" (click)="Reset()" class="btn btn-secondary" >Reset</button>
  
        </form>
  
      </div>
      </div>
    </div>
  
  
   <!-- Form Design  Ends-->
  
  
  
  
  
  
  
  
  
  
  
  