<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <img
    src="/assets/brand/lagos_state_Judiciary.png"
    alt="Lagos State Judiciary High Court"
    class="logo"
  />
  <a class="navbar-brand" href="#"></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarsExample09"
    aria-controls="navbarsExample09"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample09">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Media</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Divisions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cause List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login']">JIS/E-Filing</a>
      </li>
      <!-- <li class="nav-item">
<a class="nav-link" [routerLink] ="['/registration']">Create E-Filing Account</a>
</li> -->
      <button
        class="btn btn-primary mr-2"
        [routerLink]="['/registration']"
        type="button"
      >
        Create E-Filing Account
      </button>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search <i class="bi bi-search"></i>
      </button>
    </form>
  </div>
</nav>
